@* Views/Shared/_LoginPartial.cshtml *@
<ul class="navbar-nav ms-auto">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="navbar-text me-2">
                @User.Identity.Name
            </span>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                <button type="submit" class="btn btn-link nav-link p-0">
                    Çıkış Yap
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">
                Kayıt Ol
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">
                Giriş Yap
            </a>
        </li>
    }
</ul>
